body{
background-color: lavender;
}

h1{
    color:#435f43;
}

.gradientForm{
background-color: rgb(207, 235, 207);

}

.gradientButton{
    color: rgb(204, 204, 238);
    background: linear-gradient(to top, #435f43, #478b47);
}

.gradientButton:hover{
    color: rgb(88, 88, 164);
    background: linear-gradient(to top, #6eaa6e, #7ae87a);
}